# general
*.cm?
*.hi
*.stamp
*.class
*.fasl
*.beam
*.o
*.exe
*.so
erl_crash.dump
node_modules/
.cabal-sandbox/
dist/
cabal.sandbox.config

# swapview specific
*/swapview
Chicken/format
CoffeeScript*/*.js
D/swapview-llvm
C++98/swapview_omp
Racket/compiled
maketime
