# general
*.cm?
*.hi
*.stamp
*.class
*.fasl
*.beam
*.o
erl_crash.dump
node_modules/

# swapview specific
*/swapview
Chicken/format
CoffeeScript*/*.js
D/swapview-llvm
C++98/swapview_omp
Racket/compiled
